apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: ccnp
  name: eventlog-server
  labels:
    app.kubernetes.io/name: eventlog-server
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: eventlog-server
  namespace: ccnp
  labels:
    app.kubernetes.io/name: eventlog-server
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: eventlog-server
  template:
    metadata:
      labels:
        app.kubernetes.io/name: eventlog-server
    spec:
      serviceAccountName: eventlog-server
      securityContext:
        {}
      initContainers:
        - name: change-permissions
          image: busybox
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "128Mi"
              cpu: "100m"
          command:
            - sh
            - -c
            - >
              chown -R 1000:1000 /run/ccnp-eventlog &&
              chmod 0744 /run/ccnp-eventlog &&
              chown -R 1000:1000 /run/ccnp/uds &&
              chmod 0744 /run/ccnp/uds &&
              cp /tmp/eventlog-entry/CCEL /run/firmware/acpi/tables &&
              chown -R 1000:1000 /run/firmware/acpi/tables &&
              chmod -R 0544 /run/firmware/acpi/tables &&
              cp /tmp/eventlog-data/CCEL /run/firmware/acpi/tables/data &&
              chown -R 1000:1000 /run/firmware/acpi/tables/data &&
              chmod -R 0544 /run/firmware/acpi/tables/data
          volumeMounts:
            - name: eventlog-path
              mountPath: /run/ccnp-eventlog
            - name: sock-path
              mountPath: /run/ccnp/uds
            - name: eventlog-entry
              mountPath: /tmp/eventlog-entry/CCEL
            - name: eventlog-data
              mountPath: /tmp/eventlog-data/CCEL
            - name: eventlog-entry-dir
              mountPath: /run/firmware/acpi/tables
            - name: eventlog-data-dir
              mountPath: /run/firmware/acpi/tables/data
      containers:
        - name: eventlog-server
          securityContext:
            runAsNonRoot: true
            capabilities:
              drop: ["NET_RAW"]
          image: "docker.io/library/ccnp-eventlog-server:0.1"
          imagePullPolicy: IfNotPresent
          livenessProbe:
            exec:
                command: ["/usr/bin/grpc_health_probe", "-addr=unix:/run/ccnp/uds/eventlog.sock"]
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            exec:
                command: ["/usr/bin/grpc_health_probe", "-addr=unix:/run/ccnp/uds/eventlog.sock"]
            initialDelaySeconds: 5
            periodSeconds: 10
            failureThreshold: 10
          resources:
            limits:
              memory: "128Mi"
              cpu: "100m"
          volumeMounts:
            - name: eventlog-path
              mountPath: /run/ccnp-eventlog
            - name: sock-path
              mountPath: /run/ccnp/uds
            - name: eventlog-entry-dir
              mountPath: /run/firmware/acpi/tables
            - name: eventlog-data-dir
              mountPath: /run/firmware/acpi/tables/data
      volumes:
      - name: eventlog-path
        hostPath:
          path: /run/ccnp-eventlog
          type: DirectoryOrCreate
      - name: sock-path
        hostPath:
          path: /run/ccnp/uds
          type: DirectoryOrCreate
      - name: eventlog-data
        hostPath:
          path: /sys/firmware/acpi/tables/data/CCEL
          type: File
      - name: eventlog-entry
        hostPath:
          path: /sys/firmware/acpi/tables/CCEL
          type: File
      - name: eventlog-entry-dir
        emptyDir: {}
      - name: eventlog-data-dir
        emptyDir: {}
      nodeSelector:
        intel.feature.node.kubernetes.io/tdx-guest: "enabled"
