tools/image-builder/cache
tools/image-builder/download
tools/image-builder/*.img
tools/image-builder/SHA*

*/*qcow*
*bak
tools/cvm-image-rewriter/cloud-init/meta-data
tools/cvm-image-rewriter/cloud-init/user-data
tools/cvm-image-rewriter/test.sh
tools/cvm-image-rewriter/pre-stage/60-initrd-update/files/etc/initramfs-tools/hooks/initrd-custom-update.sh
tools/cvm-image-rewriter/pre-stage/04-user-authkey/cloud-init/
tools/cvm-image-rewriter/pre-stage/98-ima-enable-simple/cloud-init/x-shellscript/01-ima-register-file-hash.sh
tools/cvm-image-rewriter/pre-stage/05-readonly-data/cloud-init/x-shellscript/01-file-readonly.sh
tools/cvm-image-rewriter/pre-stage/07-install-mvp-guest/cloud-init/
tools/cvm-image-rewriter/pre-stage/07-install-mvp-guest/artifacts/*

