name: quote-server-ctr
services:
  quote-server:
    image: #QUOTE_IMAGE
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 128M
    volumes:
      - /tmp/docker_ccnp/run/ccnp/uds:/run/ccnp/uds
    devices:
      - #DEV_TDX:#DEV_TDX
