apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "ccnp-device-plugin.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "ccnp-device-plugin.labels" . | nindent 4 }}
spec:
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      {{- include "ccnp-device-plugin.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "ccnp-device-plugin.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "ccnp-device-plugin.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
        - name: check-tdx-version
          image: busybox
          imagePullPolicy: IfNotPresent
          command: ['sh', '-c', "if [ -c /dev/tdx-guest ]; then touch /run/ccnp/dev/tdx-guest; \
                    elif [ -c /dev/tdx_guest ]; then touch /run/ccnp/dev/tdx-guest; \
                    elif [ -c /dev/tdx-attest ]; then touch /run/ccnp/dev/tdx-attest; \
                    else echo NO-DEVICE-ERROR; \
                    fi"]
            volumeMounts:
              - name: workdir
                mountPath: /run/ccnp/dev/
              - name: device-dir
                mountPath: /dev
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: device-plugin
              mountPath: /var/lib/kubelet/device-plugins
            - name: workdir
              mountPath: /run/ccnp/dev/
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      volumes:
      - name: device-plugin
        hostPath:
          type: Directory
          path: /var/lib/kubelet/device-plugins
      - name: workdir
        emptyDir: {}
      - name: device-dir
        hostPath:
          type: Directory
          path: /dev