name: Rust Code Scan

on:
  push:
    branches:
      - main
    paths:
      - 'service/quote-server/**.rs'
  pull_request:
    paths:
      - 'service/quote-server/**.rs'
  workflow_dispatch:

jobs:
  codescan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR
        uses: actions/checkout@v3
      
      - name: Set up Rust action
        uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.70.0

      - name: Install libtdx-attest
        run: |
          wget https://download.01.org/intel-sgx/sgx-dcap/1.16/linux/distro/ubuntu22.04-server/sgx_debian_local_repo.tgz
          sudo mkdir -p /opt/intel/ && sudo tar zxf sgx_debian_local_repo.tgz -C /opt/intel/
          sudo mkdir -p /etc/apt/sources.list.d/
          sudo echo "deb [trusted=yes arch=amd64] file:/opt/intel/sgx_debian_local_repo jammy main" | sudo tee /etc/apt/sources.list.d/sgx_debian_local_repo.list
          sudo apt update && yes | DEBIAN_FRONTEND=noninteractive sudo apt install -y libtdx-attest libtdx-attest-dev libcryptsetup-dev clang protobuf-compiler protobuf-c-compiler libprotobuf-c-dev libprotobuf-c1 build-essential pkg-config libssl-dev
      - name: Run cargo check
        run: |
          cd service/quote-server
          cargo check
          cargo fmt -- --check
          cargo clippy
          cargo install --locked cargo-deny
          cargo deny check
